
.Ds_Store
Mantamonis_bacterial_contamination_analysis.xlsx
plot_preliminary_verdict.py


#ignore all files in this folder: bioinformatics_freecodecamp
bioinformatics_freecodecamp/*

#track only these notebooks
!bioinformatics_freecodecamp/CDD_ML_Part_1_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb 
!bioinformatics_freecodecamp/CDD_ML_Part_2_Acetylcholinesterase_Exploratory_Data_Analysis (1).ipynb
