
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pub
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pub

bioinformatics_freecodecamp/*
!bioinformatics_freecodecamp/CDD_ML_Part_1_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb

alphafold_review/group_5_repo/
